<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>revenant_attack_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{38,73}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{69,1},{38,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-7}</string>
                <key>spriteSize</key>
                <string>{48,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{501,1},{48,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-8}</string>
                <key>spriteSize</key>
                <string>{50,61}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{559,65},{50,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{66,77}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{66,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_attack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{438,1},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-7}</string>
                <key>spriteSize</key>
                <string>{70,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{109,1},{70,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{240,1},{68,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_die_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{397,67},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{714,61},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_die_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{764,60},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_die_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{228,72},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_die_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{337,68},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_die_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{373,1},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_die_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{174,1},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_die_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{307,1},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_fall_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{505,66},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_fall_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{451,67},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_hurt_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{397,67},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_hurt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-10}</string>
                <key>spriteSize</key>
                <string>{48,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{714,61},{48,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_hurt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{764,60},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_idle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-9}</string>
                <key>spriteSize</key>
                <string>{48,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{602,1},{48,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{46,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{751,1},{46,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_idle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{611,62},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_idle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{652,1},{46,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_jump_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{168,73},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-12}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{659,62},{58,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-15}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{1,80},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-15}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{59,80},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>revenant_run_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{799,1},{52,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{56,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{286,71},{56,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-14}</string>
                <key>spriteSize</key>
                <string>{54,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{117,73},{54,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{551,1},{62,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-14}</string>
                <key>spriteSize</key>
                <string>{58,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{700,1},{58,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>revenant_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-14}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,77}</string>
                <key>textureRect</key>
                <string>{{816,55},{50,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>revenant_original.pvr.ccz</string>
            <key>size</key>
            <string>{866,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bf3cc84342caf86d8294e816bac6b02:7442275dcb59e919ab0dae2b27408dec:2ee0b2390afa5815548ef45fa5fc878a$</string>
            <key>textureFileName</key>
            <string>revenant_original.pvr.ccz</string>
        </dict>
    </dict>
</plist>
