<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hpGauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{174,30}</string>
                <key>spriteSourceSize</key>
                <string>{210,44}</string>
                <key>textureRect</key>
                <string>{{1,46},{174,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hpbarX2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,43}</string>
                <key>spriteSourceSize</key>
                <string>{209,43}</string>
                <key>textureRect</key>
                <string>{{1,1},{209,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hpbar.pvr.ccz</string>
            <key>size</key>
            <string>{211,77}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae3b33ffbe68d5189340f2e2cb0d8b71:04aaf8af7628c7bc929ca8f83bef5652:56e8c2070737b5ef9756846888401a4d$</string>
            <key>textureFileName</key>
            <string>hpbar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
