<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,197}</string>
                <key>spriteSourceSize</key>
                <string>{585,197}</string>
                <key>textureRect</key>
                <string>{{1,1},{585,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,197}</string>
                <key>spriteSourceSize</key>
                <string>{585,197}</string>
                <key>textureRect</key>
                <string>{{1,200},{585,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,197}</string>
                <key>spriteSourceSize</key>
                <string>{585,197}</string>
                <key>textureRect</key>
                <string>{{588,1},{585,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,197}</string>
                <key>spriteSourceSize</key>
                <string>{585,197}</string>
                <key>textureRect</key>
                <string>{{588,200},{585,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>back.png</string>
            <key>size</key>
            <string>{1174,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2996f7a66dbcda01580e8ab8e7857569:63bd6feb863f5aa1c17fea3f742792d5:86491c77568009ac2e89a4c927492403$</string>
            <key>textureFileName</key>
            <string>back.png</string>
        </dict>
    </dict>
</plist>
