<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shade-projectile-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{1,29},{27,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-projectile-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{1,58},{31,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-projectile-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{1,91},{35,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-projectile-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shade_projectile.pvr.ccz</string>
            <key>size</key>
            <string>{32,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:599eb8e2f4179a3e8015760e4304d682:5e0327c47f79418a9182a542c487be61:bb8c91595e78247aa196b0c6fa2aaf2c$</string>
            <key>textureFileName</key>
            <string>shade_projectile.pvr.ccz</string>
        </dict>
    </dict>
</plist>
