<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{192,186}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-attack-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{101,195},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-attack-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{331,45},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-attack-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{343,1},{40,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-attack-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{287,1},{42,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-attack-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{237,1},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-attack-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{293,155},{48,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-attack-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{335,101},{48,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-die-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{245,209},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{345,199},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{237,109},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{283,53},{46,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{149,195},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{189,1},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{189,57},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{189,113},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-die-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{237,53},{44,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-idle-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{245,159},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-idle-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{197,169},{46,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-idle-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{1,195},{48,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-idle-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{51,195},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-move-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{339,151},{46,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-move-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{373,43},{48,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-move-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{287,105},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-move-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,54}</string>
                <key>textureRect</key>
                <string>{{295,205},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-projectile-00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{383,160},{27,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-projectile-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{383,130},{31,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shade-projectile-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{35,28}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{381,93},{35,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shade-projectile-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,30}</string>
                <key>textureRect</key>
                <string>{{197,225},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shade_sample_2.pvr.ccz</string>
            <key>size</key>
            <string>{416,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:140703674db0dbfd6199b3d7499b2680:5dd857097d3f579f25515c4c1d34db3d:4fc64e499bd3fc78cc44a98f467bbf4d$</string>
            <key>textureFileName</key>
            <string>shade_sample_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
